<header id="header">
  <input id="new-todo" placeholder="What have you got to do?" autofocus>
</header>

{{#if tasks.length}}
  <section id="main">
    <ul id="todo-list">
      {{#each tasks}}
        {{addSubViewTo ../thisView "TaskItemView" task=this}}
      {{/each}}
    </ul>
  </section>
{{/if}}

<footer id="footer">
  <span id="todo-count">{{remainingCount}} left</span>

  <ul id="filters">
    <li>
      <a href="#">All</a>
    </li>
    <li>
      <a href="#">Active</a>
    </li>
    <li>
      <a href="#">Completed</a>
    </li>
  </ul>

  <button id="clear-completed">Clear completed ({{completedCount}})</button>
</footer>
